h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1;
}

.types-img {
  width: 600px;
}

.hacking-img {
  width: 500px;
}

.hacking-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

a {
  font-size: 25px;
}

.trilema-img {
  width: 350px;
}
.trilema-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.block-img {
  width: 700px;
}

.web3-section {
  font-size: 32px;
}

.web33-img {
  width: 650px;
}

img {
  border-radius: 15px;
}

.web3-img {
  width: 360px;
  border-radius: 25px;
}
